* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: white;
  margin-top: 10px;
  width: 50%;
  padding: 5px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 80px rgba(30, 42, 94, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container h4 {
  color: #1e2a5e;
  font-size: 1.1em;
}
.title {
  color: #1e2a5e;
  font-size: 1.1em;
  margin-top: -2.7rem;
}
.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.imageDiv {
  border-radius: 50%;
  width: 150px;
  height: 135px;
  background-color: #7c93c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDiv img {
    margin-bottom: 15px;
    width : 125px ;
    height: 100px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

label {
  margin-top: 15px;
  font-size: 18px;
  color: #1e2a5e;
}

.name-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 100%;
  font-size: 16px;
  color: gray;
  box-sizing: border-box;
  height: 40px;
}

input[type="submit"] {
  padding: 15px;
  width: 100%;
  border: none;
  background-color: #55679c;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

input[type="submit"]:hover {
  background-color: #1e2a5e;
  transition: all 0.4s ease;
}

.errors {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.message {
  margin-top: 10px;
  font-size: 15px;
  color: #55679c;
  text-align: center;
}

.message a {
  color: #55679c;
  text-decoration: none;
  font-weight: bold;
}

.message a:hover {
  color: #1e2a5e;
  text-decoration: underline;
}

/* Style for the placeholders */
::placeholder {
  color: #1e2a5e; /* Light gray */
  opacity: 1; /* Ensures the color isn't transparent */
}

/* Adjust placeholder color on focus */
input:focus::placeholder {
  color: #969696; /* Darker blue when input is focused */
}

@media (min-width: 100px) and (max-width: 890px) {
  .form-container {
    width: 90%;
  }
}
